<mat-card>
    <mat-card-header>
        <mat-card-title>Data Pengunjung</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="tamuDetail({},-1)">Tambah Pengunjung</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
          <th>No</th>
          <th>Nama</th>
          <th>Alamat</th>
          <th>Checkin</th>
          <th>Checkout</th>
          <th>No ID</th>                
          <th align="right"></th>
          <tbody>
            <tr *ngFor="let product of products; let idx=index">
            <td>{{idx+1}}</td>
            <td>{{product.nama}}</td>
            <td>{{product.alamat}}</td>
            <td>{{product.checkin}}</td>
            <td>{{product.checkout}}</td>
            <td>{{product.noid}}</td>
            <td align="right">
               <button mat-button color="primary" (click)="tamuDetail(product,idx)">Edit</button>
              <button mat-button color="warn" (click)="deleteProduct(product.id, idx)"[disabled]="loadingDelete[idx]">{{loadingDelete[idx] ? 'Deleting..':'Delete'}}</button>
           </td>
          </tr>
        </tbody>
      <thead>
    </thead>
  </table>
  </mat-card-content>
  </mat-card>