<ng-container>
	<!--toolbar-->
	<mat-toolbar color="primary" class="example-header">
		<button mat-icon-button (click)="sidenav.toggle()">
			<mat-icon>menu</mat-icon>
		</button>
		<span>Menu</span>
		<div class="uk-width-expand"></div>
		<button mat-button routerLink="/admin/">
			<mat-icon>account_circle</mat-icon>
		</button>
		<button mat-button routerLink="/login">LOGOUT</button>
	</mat-toolbar>
	<!--end toolbar-->

	<mat-sidenav-container class="admin-container">
		<mat-sidenav
			#sidenav
			mode="side"
			[position]="'start'"
			opened
			class="sidenav-left"
			[fixedInViewport]="true"
			[fixedTopGap]="60"
			[fixedBottomGap]="0">
			
			<mat-nav-list>
				<mat-list-item routerLink="/admin/dashboard">
					<mat-icon matListIcon>dashboard</mat-icon>
					<h3 matLine>Dashboard</h3>
				</mat-list-item>
		
				<mat-list-item routerLink="/admin/tamu">
					<mat-icon matListIcon>list</mat-icon>
					<h3 matLine>Tamu</h3>
				</mat-list-item>
		 </mat-nav-list>

		</mat-sidenav>	
		<mat-sidenav
			#sidenav
			mode="side"
			[position]="'end'"
			class="example-sidenav"
			[fixedInViewport]="true"
			[fixedTopGap]="60"
			[fixedBottomGap]="0">
		</mat-sidenav>
		
	
		<!--sidenav content-->
		<mat-sidenav-content style="padding: 20px; background-color: #e0e0e0;">
			<!--halaman-halaman tampil disini-->
				<router-outlet></router-outlet>
			</mat-sidenav-content>
			<!--end sidenav content-->
		</mat-sidenav-container>   
	</ng-container>