  <div class="uk-flex uk-flex-viewport uk-flex-center">
    <mat-card>
        <mat-card-header class="uk-flex-center">
          <div mat-card-title class="uk-flex-center uk-flex-cover">MEXOLIE HOTEL KEBUMEN</div>
          <div mat-card-subtitle class="uk-flex-center"></div>
        </mat-card-header>
        <br>
        <mat-card-content>
          <div class="uk-flex uk-flex-mininimal uk-flex-center">
            <img mat-card-image src="assets/dashboard.jpg" alt="Toko Pink Shop">
          </div>
          <div class="caption">
            <p align="center" font-size="90">
           Hotel Mexolie Kebumen memiliki nilai historis yang tinggi.
            <br>
            Hotel ini dulunya adalah pabrik minyak kelapa yang didirikan oleh Pemerintah Hindia Belanda pada tahun 1851. Selain itu, di lokasi ini juga digunakan sebagai tempat pusat pemerintahan pada waktu itu. Setelah Perang Dunia II selesai, bangunan tersebut menjadi Pabrik Minyak Kelapa Sari Nabati. Oleh karena itu, di Hotel Mexolie kita dapat melihat Bangunan Arsitektur era kolonial yang masih dilestarikan sampai sekarang.</p>
        </div>
        </mat-card-content>
      </mat-card>
</div>  
